@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", serif;
}

* {
    padding: 0;
    margin: 0;
}

.common-btn {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.side-padding {
    padding: 50px 240px;
}

/* Header */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 25px;
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(229, 84, 115);

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 240px;
}

.banner h1 {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
}

.banner p {
    padding: 32px 0;
    color: rgba(39, 39, 39, 0.60);
    width: 70%;
}
.banner img{
    vertical-align: bottom;
}

/* main */
.featured-flower-section {
    margin: 0 auto;
    text-align: center;
}

.featured-flower-section h1 {
    font-size: 40px;
    font-weight: 800;
}

.featured-flower-section p {
    padding: 24px 0 48px 0;
    color: rgba(39, 39, 39, 0.60);
    width: 40%;
    margin: 0 auto;
}

.pink-flower-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.pink-flower-container>div {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pink-flower-cart {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0 76px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.light-blue-cart-bg {
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 50px 47px;
}

.light-green-cart-bg {
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 67px;
}

.pink-flower-cart img {
    vertical-align: bottom;
}

.pink-flower-container a {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.Delivery-section {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.Delivery-section-margin {
    margin: 50px 230px;
}

.Delivery-section {
    padding: 86px 177px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.Delivery-section>div {
    text-align: center;
}

.Delivery-section>div>p {
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

/* /hot deal  */
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.sale-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 100px 0;
}
.sale-container h1{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
.sale-container span{
    color: #E55473;
}
.sale-container p{
    padding: 30px 0;
    color: rgba(39, 39, 39, 0.60);
    width: 50%;
}

/* instagram */
.social-image-cart{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.insta-info{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
.insta-info h1{
    font-size: 40px;
    font-weight: 800;
}
.insta-info p{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    padding-top: 20px;
}